body {
	font-family: 'Rampart One', cursive;
	display: block;
}
.question-template {
	height: 50px;
	width: 200px;
	background: pink;
}
.buttons-group {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 20vh;
}
.buttons-group button {
	margin: auto;
	/* margin-bottom: 5%; */
	padding: 3%;
	width: 80%;
	background: black;
	color: white;
	border: none;
	border-radius: 20px;
	font-size: x-large;
}
.box-header {
	display: flex;
	height: 15vh;
}
.box-header h1 {
	margin: auto;
	text-align: center;
}
.official-logo {
	min-width: 5%;
}

.footer {
	position: absolute;
	bottom: 1vh;
}
